# Customer Segmentation and Purchase Pattern Analysis
Objective
Analyze customer behavior through both segmentation (using clustering) and purchase pattern analysis (using association rules) to derive meaningful business insights.



Dataset Requirements
- Download the "Online Retail" dataset from UCI Machine Learning Repository or a similar e-commerce dataset from Kaggle

- Dataset should contain:

  - Customer information for clustering

  - Transaction/purchase information for association rule mining

## Task 1:- Data Preprocessing (2 marks)

   - Load and clean the dataset

   - Handle missing values and duplicates

   - Perform outlier detection and removal

   - Feature scaling/normalization

   - Create relevant features for both clustering and association analysis

### - Load and clean the dataset

In [31]:
# Importing required packages
import numpy as np
import pandas as pd
import warnings as war
war.filterwarnings("ignore")

In [32]:
# Defining dataset csv Path
dataSetPath="C:\\Users\\ASUS\\jupyterworkspace\\Assignment & Mini Project\Module_04_Unsupervised Learning and Association Rule Mining\\MiniProject_02\\Online Retail.csv"
# Loading dataSet
dataSetRead=pd.read_csv(dataSetPath)

In [33]:
# Displaying first 5 records to confirming data loading
print("*****************************************************Displaying below first 5 records**********************************************************")
dataSetRead.head()

*****************************************************Displaying below first 5 records**********************************************************

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [34]:
# Displaying last 5 records to confirming data loading
print("*****************************************************Displaying below last 5 records**********************************************************")
dataSetRead.tail()

*****************************************************Displaying below last 5 records**********************************************************

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France

In [35]:
# Displaying all records to confirming data loading
print("*****************************************************Displaying below all records**********************************************************")
dataSetRead

*****************************************************Displaying below all records**********************************************************

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France

In [36]:
# Displaying dimension of dataSet
print("Dimention of Dataset:- {}".format(dataSetRead.shape[0:2]))
print("Total number of rows in Dataset:- {}".format(dataSetRead.shape[0]))
print("Total number of columns in Dataset:- {}".format(dataSetRead.shape[1]))

Dimention of Dataset:- (541909, 8)
Total number of rows in Dataset:- 541909
Total number of columns in Dataset:- 8

In [37]:
# Displaying description & statistcal summary of the dataSet
dataSetRead.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
CustomerID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0

In [38]:
# Displaying the columns and their respective data types
dataSetRead.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [39]:
# Summary statistics for categorical variables
dataSetRead.describe(include='object').T

              count unique                                 top    freq
InvoiceNo    541909  25900                              573585    1114
StockCode    541909   4070                              85123A    2313
Description  540455   4223  WHITE HANGING HEART T-LIGHT HOLDER    2369
InvoiceDate  541909  23260                    31-10-2011 14:41    1114
Country      541909     38                      United Kingdom  495478

### - Handle missing values and duplicates

In [40]:
# Calculating the number of missing values in each column
missingValue_Count=dataSetRead.isnull().sum()
print(missingValue_Count)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [41]:
# finding missing values attribues with counts
missingValue_attributes=missingValue_Count[missingValue_Count.where(missingValue_Count.values>0).notnull()]
print(missingValue_attributes)
#Finding the attributes's key which have missing values
print("Below is the list of  missing values attributes:- ")
print(missingValue_attributes.keys())

Description      1454
CustomerID     135080
dtype: int64
Below is the list of  missing values attributes:-
Index(['Description', 'CustomerID'], dtype='object')

In [42]:
# Finding total no. of missing values for dataSet
total_missingvalue_Count=missingValue_Count.sum()
print("total no. of missing values is :- {} ".format(total_missingvalue_Count))

total no. of missing values is :- 136534

In [43]:
# Removing missing data from dataSet
datasetRead = dataSetRead.dropna(subset=['CustomerID','Description'], inplace=True)

In [44]:
# Calculating again the number of missing values in each column
missingValue_Count=dataSetRead.isnull().sum()
print(missingValue_Count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [45]:
# Checking for duplicate records
duplicateValue_Count=dataSetRead.duplicated().sum()
print("Total no of duplicate records count:- {}".format(duplicateValue_Count))

Total no of duplicate records count:- 5225

In [46]:
# Removing duplicates data from dataSet
dataSetRead=dataSetRead.drop_duplicates()

In [47]:
# Checking again for duplicate records
duplicateValue_Count=dataSetRead.duplicated().sum()
print("Total no of duplicate records count:- {}".format(duplicateValue_Count))

Total no of duplicate records count:- 0

In [48]:
# Displaying dimension of dataSet
print("Dimention of Dataset:- {}".format(dataSetRead.shape[0:2]))
print("Total number of rows in Dataset:- {}".format(dataSetRead.shape[0]))
print("Total number of columns in Dataset:- {}".format(dataSetRead.shape[1]))

Dimention of Dataset:- (401604, 8)
Total number of rows in Dataset:- 401604
Total number of columns in Dataset:- 8

In [49]:
# Filter out the rows with InvoiceNo starting with "C" and create a new column indicating the transaction status
dataSetRead['Transaction_Status'] = np.where(dataSetRead['InvoiceNo'].astype(str).str.startswith('C'), 'Cancelled', 'Completed')

# Analyze the characteristics of these rows (considering the new column)
cancelled_transactions = dataSetRead[dataSetRead['Transaction_Status'] == 'Cancelled']
cancelled_transactions.describe().drop('CustomerID', axis=1)

           Quantity     UnitPrice
count   8872.000000   8872.000000
mean     -30.774910     18.899512
std     1172.249902    445.190864
min   -80995.000000      0.010000
25%       -6.000000      1.450000
50%       -2.000000      2.950000
75%       -1.000000      4.950000
max       -1.000000  38970.000000

In [53]:
# Finding the percentage of cancelled transactions
cancelled_percentage = (cancelled_transactions.shape[0] / dataSetRead.shape[0]) * 100

# Printing the percentage of cancelled transactions
print(f"The percentage of cancelled transactions in the dataset is: {cancelled_percentage:.2f}%")

The percentage of cancelled transactions in the dataset is: 2.21%

In [51]:
# Displaying dimension of dataSet
print("Dimention of Dataset:- {}".format(dataSetRead.shape[0:2]))
print("Total number of rows in Dataset:- {}".format(dataSetRead.shape[0]))
print("Total number of columns in Dataset:- {}".format(dataSetRead.shape[1]))

Dimention of Dataset:- (401604, 9)
Total number of rows in Dataset:- 401604
Total number of columns in Dataset:- 9

### - Perform outlier detection and removal

In [ ]:
# Importing required package
import seaborn as sbn
import matplotlib.pyplot as plt
# taking list of all numerocal attributes
numerical_attributes = ['Quantity', 'UnitPrice','CustomerID']
dataSetRead_new = dataSetRead[numerical_attributes]
# Set the parameters that control the general style of the plots.
sbn.set_style("darkgrid") 
# Selecting all numerical attributes columns names 
cols = dataSetRead_new.columns
#Plotting Box plot for each numerical attributes
plt.figure(figsize=(15, 30) )
for count, item in enumerate(cols, 1): 
    plt.subplot(4, 3, count) 
    sbn.boxplot(dataSetRead_new[item])
    plt.title(f"Variable Name : {item}")

plt.tight_layout() 
plt.show()

In [524]:
# Calculating IQR for Quantity and UnitPrice
Q1 = dataSetRead[['Quantity', 'UnitPrice','CustomerID']].quantile(0.25)
Q3 = dataSetRead[['Quantity', 'UnitPrice','CustomerID']].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers for each attribute
outliers_quantity = ((dataSetRead['Quantity'] < (Q1['Quantity'] - 1.5 * IQR['Quantity'])) |
                     (dataSetRead['Quantity'] > (Q3['Quantity'] + 1.5 * IQR['Quantity']))).sum()

outliers_unitprice = ((dataSetRead['UnitPrice'] < (Q1['UnitPrice'] - 1.5 * IQR['UnitPrice'])) |
                      (dataSetRead['UnitPrice'] > (Q3['UnitPrice'] + 1.5 * IQR['UnitPrice']))).sum()

outliers_CustomerID = ((dataSetRead['CustomerID'] < (Q1['CustomerID'] - 1.5 * IQR['CustomerID'])) |
                      (dataSetRead['CustomerID'] > (Q3['CustomerID'] + 1.5 * IQR['CustomerID']))).sum()

# Displaying results for each attribute
print(f"Total outliers in 'Quantity': {outliers_quantity}")
print(f"Total outliers in 'UnitPrice': {outliers_unitprice}")
print(f"Total outliers in 'CustomerID': {outliers_CustomerID}")

Total outliers in 'Quantity': 26646
Total outliers in 'UnitPrice': 35802
Total outliers in 'CustomerID': 0

#### Observation:- From the above box plots it shows that there is no outliers in the CustomerID attribute

In [540]:
# Removing outliers from dataSet
# Identify outliers
outlier_mask = (dataSetRead[['Quantity', 'UnitPrice','CustomerID']] < (Q1 - 1.5 * IQR)) | \
               (dataSetRead[['Quantity', 'UnitPrice','CustomerID']] > (Q3 + 1.5 * IQR))

# Remove outliers
dataSetRead = dataSetRead[~outlier_mask.any(axis=1)]

In [541]:
# Displaying dimension of dataSet
print("Dimention of Dataset:- {}".format(dataSetRead.shape[0:2]))
print("Total number of rows in Dataset:- {}".format(dataSetRead.shape[0]))
print("Total number of columns in Dataset:- {}".format(dataSetRead.shape[1]))

Dimention of Dataset:- (339453, 8)
Total number of rows in Dataset:- 339453
Total number of columns in Dataset:- 8

### - Feature scaling/normalization

In [544]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
dataSetRead[['Quantity', 'UnitPrice']] = scaler.fit_transform(dataSetRead[['Quantity', 'UnitPrice']])

In [546]:
# Displaying all records to confirming data loading
print("*****************************************************Displaying below all records**********************************************************")
dataSetRead

*****************************************************Displaying below all records**********************************************************

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-0.195929,01-12-2010 08:26,0.223622,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,-0.195929,01-12-2010 08:26,0.765671,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,0.094332,01-12-2010 08:26,0.352681,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,-0.195929,01-12-2010 08:26,0.765671,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,-0.195929,01-12-2010 08:26,0.765671,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,0.674853,09-12-2011 12:50,-0.873383,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,-0.195929,09-12-2011 12:50,-0.066762,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,-0.486190,09-12-2011 12:50,1.256097,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,-0.486190,09-12-2011 12:50,1.256097,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,-0.631320,09-12-2011 12:50,1.772334,12680.0,France